#menu-parent-search-results
{
	height: auto;
	background-image: none;
}

#menu-parent-search-results.processing
{
	height: 40px;
	background: transparent url(../images/ajax-loader.gif) no-repeat left center;
}
